body {
	background-color: #555;
	color: #fff;
}

button {
	color: #333
}

#inItemText, #datepicker {
	color: #333;
}

ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px;
	color: #000;
	font-size: 100%;
}

li span {
	
}

.delete {
	float: right;
	height: 1.7em;
	font-size: 80%
}

#btnDetail, #btnDel {
	float: right;
}

h1 {
	text-align: center;
}

#inputHeader {
	z-index: +1;
}

p {
	text-align: center;
}

.center {
	text-align: center;
}

#list {
	padding: 0px;
	max-width: 80%;
	float: none;
}

#todoList {
	padding: 0px;
}

#deadlineList {
	padding: 0px;
}

#tmplDead {
	text-align: center;
	/*	animation-delay: .5s;*/
}

#tmplText {
	/*	animation-delay: .5s;*/
	
}

input[type=checkbox] {
	margin-left: 5px;
	margin-top: 0px;
}