body {
	background-color: #555;
	color: #fff;
}
textarea{
	width:100%;
	rows:7;
}
button {
	color: #333
}
.modal-title{
	color:#333;
	text-decoration: underline;
}
.modal-deadline{
	color:#333;
	float:left;
}
.modal-body{
	color:#333;
}
#inTaskText, #datepicker {
	color: #333;
}

ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px;
	color: #000;
	font-size: 100%;
}

.delete {
	float: right;
	height: 1.7em;
	font-size: 80%
}

#btnDetail, #btnDel {
	float: right;
}

h1 {
	text-align: center;
}

#inputHeader {
	z-index: +1;
}

p {
	text-align: center;
}

.detail {
	float: right;
	height: 1.7em;
	font-size: 80%
}

.deadLine {
	float: right;
	margin-right: 10px;
}

.center {
	text-align: center;
}

#list {
	height: 300px;
	padding: 0px;
	max-width: 80%;
	float: none;
}

#todoList {
	padding: 0px;
}

#deadlineList {
	padding: 0px;
}

#tmplDead {
	text-align: center;
	/*	animation-delay: .5s;*/
}

#tmplText {
	/*	animation-delay: .5s;*/
	
}

input[type=checkbox] {
	margin-left: 5px;
	margin-top: 0px;
}